*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header  */
header .navbar-nav .nav-item::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: green;
    transition: all 0.5s;
}

header .navbar-nav .nav-item:hover::after {
    width: 100%;
}

header .navbar-nav .nav-item:hover .nav-link {
    color: green !important;
}

/* xác định thẻ li nào có class active thì mới có tác dụng */
header .navbar-nav li.active::after {
    width: 100%;
}

header .navbar-nav li.active a {
    color: green !important;
}

header {
    z-index: 999999;
}

/* cyber carousel */
.cyber_carousel .carousel-inner {
    height: 100vh;
}

.cyber_carousel .carousel-inner img {
    /* dùng cho tấm hình, tương tự như background-size  */
    object-fit: cover;
}

/* canh giữa khi cần tạo overlay  */
.cyber_carousel .carousel-inner .carousel-item .carousel_content {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; */

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(39, 43, 54, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.cyber_carousel .carousel-indicators button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.cyber_carousel .carousel-indicators .active {
    background-color: green;
}


/* cyber_project  */
/* sao ở đây không giống ở trên, phải là định dạng .nav-link.active mới được?? */
.cyber_project .nav-pills .nav-link.active {
    background-color: green;
    color: white !important;
}

.cyber_project .card {
    border: none;
    box-shadow: 0 0 0.4rem rgba(0,0,0,.13);
}

.cyber_project .project_content .col-4 .card .card-body {
    border: 1px solid transparent;
    border-top: none;
    border-radius: 0 0 0.375rem 0.375rem;
    transition: all 0.5s;
}

.cyber_project .project_content .col-4 .card:hover .card-body {
    border-color: green;
}

.cyber_project .project_content .col-4 .card:hover h5 {
    color: green;
}

/* cyber_avai  */
.cyber_avai {
    background-image: url(../img/3.jpg);
    position: relative;
}

.cyber_avai .overlay {
    position: absolute;
    background-color: rgba(7,10,12,0.72);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cyber_avai .avai_item {
    backdrop-filter: blur(3px);
    background: rgba(255,255,255,.1);
    padding: 40px;
    transition: all 0.5s;
    border-radius: 10px;
    border: 1px solid transparent;
}

.cyber_avai .avai_item:hover {
    border-color: white;
    background-color: black;
}

/* sau này khi đi làm các @keyframes và @media sẽ thường để bên dưới cuối file css  */
/* lưu ý khi sử dụng @media với max width: khi viết những breakpoint nhỏ hơn chúng ta sẽ để cho các breakpoint đó nằm dưới cùng và những breakpoint lớn hơn sẽ nằm trên */

/* @media screen and (max-width:992px) {
    .cyber_carousel .carousel_content h2 {
        color: red;
    }
}

@media screen and (max-width:576px) {
    .cyber_carousel .carousel_content h2 {
        color: green;
    }
} */

@media screen and (min-width: 576px) {
    .cyber_carousel .carousel_content h2 {
        font-size: 30px;
        color: yellow;
    }

    .cyber_project .nav-pills .nav-link.active {
        background-color: orange;
    }
}

@media screen and (min-width: 992px) {
    .cyber_project .nav-pills .nav-link.active {
        background-color: rgba(255, 0, 0, 0.664);
    }
}

/* lưu ý khi sử dụng @media với min width: khi viết những breakpoint nhỏ hơn chúng ta sẽ để cho các breakpoint đó nằm trên cùng và những breakpoint lớn hơn sẽ nằm dưới */